*, *:before, *:after {
    box-sizing: border-box; padding: 0; margin: 0;
}

.price {
    width: 35px;
}

.fruit {
    width: 30%;
    text-align: left;
}

#mainContainer > div {
    background-color: darkgray;
    width: 25vw;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 7px 10px 7px 10px;
    border-bottom: 1px solid;
}

#subtotal {
    font-size: 2.5em;
    font-family: sans-serif;
    margin: 0 0 0 5vw;
}

#subtotalTitle {
    margin: 30px 0 0 0;
    font-size: 2.7em;
}