*, *:before, *:after {
    box-sizing: border-box; padding: 0; margin: 0;
}

main {
    margin-left: 3vw;
}

h1 {
    margin: 30px;
    font-size: 1.5em;
}

#mainContainer > button {
    padding: 5px;
    margin: 20px 0 0 5vw;
}

.price {
    width: 35px;
}

.fruit {
    width: 30%;
    text-align: left;
}

#mainContainer > div {
    background-color: darkgray;
    width: 25vw;
    min-width: 300px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 7px 10px 7px 10px;
    border-bottom: 1px solid;
}

#checkoutPrice {
    text-align: left;
    width: 15vw;
    margin: 30px 0 30px 5vw;
    min-width: 300px;
    font-size: 1.2em;
}

#checkoutText {
    text-align: left;
    width: 15vw;
    margin: 30px 0 30px 5vw;
    min-width: 300px;
    font-size: 1.2em;
}

#subtotal {
    font-size: 2.5em;
    font-family: sans-serif;
    margin: 0 0 0 5vw;
}

#subtotalTitle {
    margin: 30px 0 0 5vw;
    font-size: 2.7em;
}